# NASA Requests

In [5]:
URL = 'ftp://ita.ee.lbl.gov/traces/NASA_access_log_Jul95.gz'

In [7]:
from urllib.request import urlretrieve
urlretrieve(URL, 'NASA_access_log_Jul95.gz')

('NASA_access_log_Jul95.gz', <email.message.Message at 0x517bf60>)

In [39]:
import gzip
import shutil
with gzip.open('NASA_access_log_Jul95.gz', 'rb') as f_in:
    with open('NASA_access_log_Jul95.csv', 'wb') as f_out:
        shutil.copyfileobj(f_in, f_out)

In [29]:
import csv
with open('NASA_access_log_Jul95.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=' ')

In [37]:
print(readCSV)

<_csv.reader object at 0x00000000086E3DB0>

In [43]:
readCSV

In [72]:
import pandas as pd
import numpy as np
import csv
column_names = ['Host','1','2','Timestamp','Timezone','Requisicao','Retorno_HTTP','Total_de_bytes_retornados']

In [73]:
data = pd.read_csv('NASA_access_log_Jul95.csv', names=column_names, delimiter=' ', encoding='ISO-8859-1', low_memory=False)

In [140]:
data.head(10)

,Host,1,2,Timestamp,Timezone,Requisicao,Retorno_HTTP,Total_de_bytes_retornados
0,199.72.81.55,-,-,[01/Jul/1995:00:00:01,-0400],GET /history/apollo/ HTTP/1.0,200,6245
1,unicomp6.unicomp.net,-,-,[01/Jul/1995:00:00:06,-0400],GET /shuttle/countdown/ HTTP/1.0,200,3985
2,199.120.110.21,-,-,[01/Jul/1995:00:00:09,-0400],GET /shuttle/missions/sts-73/mission-sts-73.ht...,200,4085
3,burger.letters.com,-,-,[01/Jul/1995:00:00:11,-0400],GET /shuttle/countdown/liftoff.html HTTP/1.0,304,0
4,199.120.110.21,-,-,[01/Jul/1995:00:00:11,-0400],GET /shuttle/missions/sts-73/sts-73-patch-smal...,200,4179
5,burger.letters.com,-,-,[01/Jul/1995:00:00:12,-0400],GET /images/NASA-logosmall.gif HTTP/1.0,304,0
6,burger.letters.com,-,-,[01/Jul/1995:00:00:12,-0400],GET /shuttle/countdown/video/livevideo.gif HTT...,200,0
7,205.212.115.106,-,-,[01/Jul/1995:00:00:12,-0400],GET /shuttle/countdown/countdown.html HTTP/1.0,200,3985
8,d104.aa.net,-,-,[01/Jul/1995:00:00:13,-0400],GET /shuttle/countdown/ HTTP/1.0,200,3985
9,129.94.144.152,-,-,[01/Jul/1995:00:00:13,-0400],GET / HTTP/1.0,200,7074

In [75]:
df = data.groupby('Host').nunique()
df['Host'].count()

81983

In [76]:
data.groupby('Retorno_HTTP').Retorno_HTTP.count()

Retorno_HTTP
200          1701534
302            46573
304           132627
400                5
403               53
404            10832
500               62
501               14
HTTP/1.0"         13
of                 1
Name: Retorno_HTTP, dtype: int64

In [81]:
data.sort_values('Retorno_HTTP',).head()

,Host,1,2,Timestamp,Timezone,Requisicao,Retorno_HTTP,Total_de_bytes_retornados
0,199.72.81.55,-,-,[01/Jul/1995:00:00:01,-0400],GET /history/apollo/ HTTP/1.0,200,6245
1233241,piweba4y.prodigy.com,-,-,[17/Jul/1995:13:27:26,-0400],GET /shuttle/missions/sts-70/movies/sts-70-lau...,200,190757
1233239,163.205.150.14,-,-,[17/Jul/1995:13:27:24,-0400],GET /icons/image.xbm HTTP/1.0,200,509
1233238,e659229.boeing.com,-,-,[17/Jul/1995:13:27:24,-0400],GET /shuttle/missions/sts-70/mission-sts-70.ht...,200,14745
1233237,www-proxy.crl.research.digital.com,-,-,[17/Jul/1995:13:27:24,-0400],GET /images/NASA-logosmall.gif HTTP/1.0,200,786

In [ ]:
data['Retorno_HTTP'] = data.Retorno_HTTP.str.

In [135]:
boolean = []
i = [].asobject
for i in data['Retorno_HTTP']:
    if i is "404":
        boolean.append(True)
    else:
        boolean.append(False)

AttributeError: 'list' object has no attribute 'asobject'

In [132]:
boolean[0:10]

[False, False, False, False, False, False, False, False, False, False]

In [138]:
sort_by_error = data.sort_values('Retorno_HTTP')
print(sort_by_error.head(n=3))

                         Host  1  2              Timestamp Timezone  \
0                199.72.81.55  -  -  [01/Jul/1995:00:00:01   -0400]
1233241  piweba4y.prodigy.com  -  -  [17/Jul/1995:13:27:26   -0400]
1233239        163.205.150.14  -  -  [17/Jul/1995:13:27:24   -0400]

                                                Requisicao Retorno_HTTP  \
0                            GET /history/apollo/ HTTP/1.0          200
1233241  GET /shuttle/missions/sts-70/movies/sts-70-lau...          200
1233239                      GET /icons/image.xbm HTTP/1.0          200

        Total_de_bytes_retornados
0                            6245
1233241                    190757
1233239                       509

In [139]:
df.Total_de_bytes_retornados.sum()

1208937

In [141]:
len(data)

1891715